@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
.trends {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
    padding: 5em;
    color: rgb(29, 28, 28);
}

.plot {
    padding: 1.5em;
    box-shadow: .5px 1px 1px .5px rgb(107, 105, 105);
    border-radius: 2px;
    font-size: 8px;
}

.alt-x-label {
    font-size: 1.75em;
    opacity: 0.7;
}

.alt-y-label {
    font-size: 1.25em;
    opacity: 0.7;
}