@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
.intro {
    background-image: url('https://exoplanets.nasa.gov/system/news_items/main_images/1413_MIT-Exoplanet-Database-Press.jpg');
    padding: 12em;
    height: 140px;
    color: rgb(228, 227, 227);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll {
    margin-top: 6em;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.icon {
    margin-top: -.25em;
    opacity: 0.65;
}

@keyframes animate {
    0% {
        margin-top: 6em; 
    }
    50% {
        margin-top: 7em;
    }
    100% {
        margin-top: 6em;
    }
}