@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
.planetaryMass {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
    padding: 5em;
    color: rgb(29, 28, 28);
}

.planetary-mass {
    display: grid;
    grid-auto-columns: 10em;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.planetary-mass div {
    box-shadow: .5px 1px 1px .5px rgb(114, 112, 112);
    padding: 0.8em;
    border-radius: 2px;
    font-weight: bold;
}